@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string author = "Seba";
}

<h2>Author:</h2>
<p>@author</p>

<h2>Skills:</h2>
<ul>
    <li>
        A skill.
    </li>
    <li>
        Another skill.
    </li>
    <li>
        A third skill.
    </li>
    <li>
        More skills?
    </li>
    <li>
        Probably the final skill
    </li>
</ul>
